/* common styles */
@media (max-width: 768px) {
  @header-height: 80px;
  .layout {
    .layout-header {
      height: @header-height*2;
    }
    .layout-nav {
      padding-top: @header-height;
    }
    .layout-content {
      margin-top: 95px + @header-height;
    }
  }
}

/* Scrollbar style */
@scrollbar-width: 8px;
@scrollbar-thumb-bgColor: #727687;
::-webkit-scrollbar {
    width: @scrollbar-width;
    height: @scrollbar-width;
}
::-webkit-scrollbar-thumb {
    background-color: @scrollbar-thumb-bgColor;
    &:hover {
        background-color: lighten(@scrollbar-thumb-bgColor,10%);
    }
}
::-webkit-scrollbar-track-piece {
    background-color: lighten(@scrollbar-thumb-bgColor,20%);
}
