/* Scrollbar style */
@scrollbar-width: 8px;
@scrollbar-thumb-bgColor: #727687;
::-webkit-scrollbar {
    width: @scrollbar-width;
    height: @scrollbar-width;
}
::-webkit-scrollbar-thumb {
    background-color: @scrollbar-thumb-bgColor;
    &:hover {
        background-color: lighten(@scrollbar-thumb-bgColor,10%);
    }
}
::-webkit-scrollbar-track-piece {
    background-color: lighten(@scrollbar-thumb-bgColor,20%);
}
